body{
	font: gray;
	background-image: url(./bgimage.jpg);
	color: white;
	max-width: 400px;
	margin: auto;
	margin-top: 50px;
}
ul{
	padding: 0;
}
li{
	list-style: none;
	margin: 0;
	padding-right: 0;
}

img{
	height:100%;
	width:300px;
	border-radius: 3%;
	margin-bottom: 20px;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	padding: 1%;
}

div{
	padding:1%;
}
.borders{
	border: 1px dashed black;
	box-shadow: 2px 5px #1D9895;
	border-radius: 3%;
	padding: 1%;
}

.center{
	text-align: left;
	width: 300px;
	display: flex;
	flex-wrap: wrap;
	background-color: #515151;
}

.italic_style{
	font-style:italic;
}

.lab{
	font-weight:bold;
}

